* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}

html {
    background-color: #efefef;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: rgb(204, 224, 255);
}

*::-webkit-selection {
    background: rgb(204, 224, 255); /* Safari and Chrome */
}

*::-moz-selection {
    background: rgb(204, 224, 255); /* FF */
}

*::-ms-selection {
    background: rgb(204, 224, 255); /* IE */
}

*::-o-selection {
    background: rgb(204, 224, 255); /* Opera */
}

.container {
    width: 1600px;
    
    /*margin: Top Right Button Left;  */   
    margin: 20px  auto 0 auto; 
}

.main-text,p{
    text-align: justify;
}

.axis{
    font-size: 15px;
    font-family:sans-serif;
}

.axis_label{
    fill:#555;
    font-size:20px; 
    font-family:sans-serif;
    /*
    font-weight: bold;
    */
}

.descripcion_grafica{
    font-size:12px;
    font-family:sans-serif;
}

.convenciones{
    fill:#555;
    font-size:12px;    
    font-family:sans-serif;
}

.Titulo_grafica{
    fill:#555;
    font-size:24px;    
    font-family:sans-serif; 
    font-weight: bold;
}

.elemento:hover {
    fill: rgb(245, 39, 39);    
}

.toolTip {
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 rgb(229, 229, 229);    
    padding: 9px 14px 6px 14px;
    border-radius: 15px;
    text-align: left;  
    box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.2);
}

.dot {
  stroke: #000;
}

.grafica{
    /* background-color: rgba(31, 111, 65, 0.42); 
    border: 1px solid red;
    */
    /*border: 1px solid green;*/
}

#wrapper {
    width: 1600px;
    /*border: 1px solid black;*/
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 1100px;
    float:left; 
    /* 
    border: 1px solid red;
    */
}
#second {    
    overflow: hidden; 
    /* 
    border: 1px solid green;
    */
}
#third {    
    overflow: hidden; 
    /*
    border: 1px solid blue;
    */
}

.button_wrapper {
    width: auto;
    /*border: 1px solid black;*/
    overflow: hidden; /* will contain if #first is longer than #second */
    margin-bottom: 0px;
}

.area {
    fill: transparent;
    stroke: #0f649d;    
    clip-path: url(#clip);
}

.areaTend {
    fill: transparent;
    clip-path: url(#clip);    
}

#areaTend_Anual {
    fill: transparent;
    stroke: #ff6e00;    
    clip-path: url(#clip);
}

#areaTend_Cuatrimestral {
    fill: transparent;
    stroke: #d90223;    
    clip-path: url(#clip);
}

#areaTend_Mensual {
    fill: transparent;
    stroke: #125c0c;
    clip-path: url(#clip);    
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.cursiva{
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

.interactiveObject{
    margin-right: 15px;
}

input[type=checkbox]
{
    /* Triple-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;    
    margin-left: 20px;
}
